<table>
	<tr>
    <td><%=t("name")%>:</td>
    <td><%= f.text_field :name, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("in_stock_shipping_time")%>:</td>
    <td><%= f.text_field :in_stock_shipping_time, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("out_stock_shipping_time")%>:</td>
    <td><%= f.text_field :out_stock_shipping_time, {"style" => "width:200px"} %></td>
  </tr>  
</table>
